<div id="quizes">
  <form class="form-inline" action="/quizes" method="get">
    <div class="form-group">
      <label for="textoBusca">Buscar:</label> 
      <input type="search" name="search" placeholder="Introduzca búsqueda" id="textoBusca"/>
      <button class="btn btn-primary" type="submit">Seleccionar</button>
    </div>
  </form>
  <div class="container">
    <% var i; for(i=0; i < quizes.length || 0; i++) { %>
    <div class="row"> 
      <div class="col-xs-4"><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></div>
      <% if (session.user) { %>
      <div class="col-xs-2"><button type="button" class="btn btn-warning btn-sm" onclick="window.open('/quizes/<%=quizes[i].id %>/edit', '_self');">Editar</button></div>
      <div class="col-xs-2">
        <!-- Forma de eliminar un registro -->
        <form class="form-inline" method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
          <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('¿Desea eliminar la pregunta: <%=quizes[i].pregunta %>?');">
            Eliminar
          </button>
        </form>
      </div>
      <div class="col-xs-4"></div>
      <% } %>
    </div>
    <% } %>
    <% if (session.user) { %>
    <div class="row">
      <div class="colx-xs-12"><button class="btn" type="button" onclick="window.open('/quizes/new', '_self')">Nueva pregunta</button></div>
    </div>
    <% } %>
  </div>
</div>