<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <input type="text" name="respuesta" placeholder="responda aquí" maxlength="255" />
  <button type="submit">Enviar</button>
</form>
<div>
  <br />
  <button type="button" onclick="window.open('/quizes/<%= quiz.id %>/comments/new', '_self');">Añadir comentario</button>

  <h2>Comentarios</h2>
  <% for(i in quiz.Comments) { %>
  <form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish?_method=put">
    <ul class="comment">
        <% if(quiz.Comments[i].publicado || session.user) { %>
        <li>
          <%= quiz.Comments[i].comentario %>
          <%if (session.user && !quiz.Comments[i].publicado) { %>
          <button type="submit">Publicar</button>
          <% } %>
        </li>
        <% } %>
    </ul>
  </form>
  <% } %>
</div> 